{% extends 'accounts/base.html' %}

{% block title %}Login!{% endblock %}
{% block content %}

<div class="card mb-4 box-shadow loginclose ">
<h1 class="head">Login!</h1>
<div class ="body">
<form method = "POST" action="{% url 'login' %}">
    {% if error %}
    <h3 style="color:red;">{{ error }}</h3>
    {% endif %}
    {% csrf_token %}
    username:
    <input class="loginfield" type="text" name="username" placeholder="Enter Username" name="uname" required />
    Password:
    <input class="loginfield" type="password" name="password" placeholder="Enter Password" name="psw" required/>
    <input class ="btnlog" type="submit" value= "Login" />
</form>
<a href="{% url 'signup'%}"><button class="btnlog">Sign up</button></a>

<a class="nav-link px-2 text-muted" href="{% url 'home'%}">Home</a>
</div>
</div>

{% endblock %}