{% extends 'accounts/base.html' %}

{% block title %}Change password{% endblock %}
{% block content %}

<div class="card mb-4 box-shadow loginclose ">
<h1 class="head">Change password</h1>
<div class ="body">
<form method = "POST" action="{% url 'changepassword' %}">
    {% if error %}
    <h3 style="color:red;">{{ error }}</h3>
    {% endif %}
    {% csrf_token %}
    Old password:
    <input class="loginfield" type="password" name="passwordold" placeholder="Enter old Password" name="psw" required/>
    New password
    <input class="loginfield" type="password" name="passwordnew1" placeholder="Enter new Password" name="psw" required/>
    Confirm New password
    <input class="loginfield" type="password" name="passwordnew2" placeholder="Enter new Password" name="psw" required/>
    <input class ="btnlog" type="submit" value= "Changepassword" />
</form>
<a class="nav-link px-2 text-muted" href="{% url 'home'%}">Home</a>
</div>
</div>


{% endblock %}