{% extends 'accounts/base.html' %}
{% block content %}

<div class="loginclose">
<h1 class="head">Change password</h1>
<div class ="body">
<form method = "POST" action="{% url 'changepassword' %}">
    {% if error %}
    <h2 style="color:orange;">{{ error }}</h2>
    {% endif %}
    {% csrf_token %}
    Old password:
    <input type="password" name="password" placeholder="Enter old Password" name="psw" required/>
    New password
    <input type="password" name="password" placeholder="Enter new Password" name="psw" required/>
    Confirm New password
    <input type="password" name="password" placeholder="Enter new Password" name="psw" required/>
    <input class ="btnlog" type="submit" value= "Changepassword" />
</form>
</div>
</div>


{% endblock %}