{% extends 'accounts/base.html' %}

{% block title %}Signup!{% endblock %}
{% block content %}



<div class = " card mb-4 box-shadow loginclose">
<h1 class="head">Signup!</h1>

<div class="body">
<form method = "POST" action="{% url 'signup' %}">
    {% if error %}
    <h3 style="color:red;">{{ error }}</h3>
    {% endif %}
    {% csrf_token %}
    username:
    <input class="loginfield" type="text" name="username" placeholder="Enter Username" name="uname" required />
    Password:
    <input class="loginfield" type="password" name="password1" placeholder="Enter Password" name="psw" required/>
    confirm Password:
    <input class="loginfield" type="password" name="password2" placeholder="Enter Password again" name="psw" required/>
    <input class ="btnlog" type="submit" value= "Sign up" />
</form>
<a href="{% url 'login'%}"><button class="btnlog">Login</button></a>
<a class="nav-link px-2 text-muted" href="{% url 'home'%}">Home</a>
<div>
<div>


{% endblock %}