{% extends 'ecom/base.html' %}

{% block title %}Cart{% endblock %}
{% block content %}

<main role="main">
    <div class="album py-5 bg-light">
      <div class="container">
  
  
      {% for row in  carts %}
      <div class="row">
        {% for cart in row %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="select2-container--classic">
            <img class="card-img-top" src="{{ cart.product.image.url }}" style="object-fit:contain; max-height:200px; overflow:hidden; max-width:300px; width:auto; display: block; margin-left: auto; margin-right: auto; margin-top:10px" %>
            </div>
            <div class="card-body">
              <p class="card-text">{{ cart.product.name }}</p>
              <h5 style="color:green;">{{ cart.product.price }} INR</h5>
              <div class = "count">
                {% if cart.count == None %}
                quantity  : 1 
                {% else %}
                quantity  : {{ cart.count }} 
                {% endif %}
                <div class="btn-group">
                &nbsp;&nbsp;
                <a href="{% url 'addtocart' pname=cart.product.name %}"><button type="button" class="btn-small">&#8593</button></a>
                <a href="{% url 'removefromcart' pname=cart.product.name %}"><button type="button" class="btn-small  ">&#8595</button></a>
                </div>
              </div>
              <div>Total : {{cart.totalprice }} INR</div>
              <br>
              <div class="d-flex justify-content-between align-items-center">
                <br>
                <div class="btn-group">
                  <a href="{% url 'productdetails' name=cart.product.name %}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      {% if length > 0 %}
      <div class="list-group-item d-flex justify-content-between">
        <h4>Total price : </h4>
        <h3 style="color:green;"><strong>{{ totalprice }} INR</strong></h3>
      </div>
      <div class="list-group-item d-flex justify-content-between">
        <a  href={% url 'process_payment' %}><button type="button" class="btn btn-lg btn-outline-success updatecart">CHECKOUT</button></a>
      </div>
      {% else %}
      <div class="container card box-shadow">
        &nbsp;
        <h3>&#128722; Cart is empty.</h3>
        &nbsp;
      </div>
      {% endif %}

  </main>
{% endblock  %}
