{% extends 'ecom/base.html' %}

{% block content %}

<br>
<div class="container">
<h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-primary">Your cart</span>
    <span class="badge bg-primary rounded-pill">{{length}}</span>
 </h4>
  <ul class="list-group mb-3">
    {% for order in orders %}
    <li class="list-group-item d-flex justify-content-between lh-sm">
      <div>
        <a href={% url 'productdetails' name=order.cart.product.name %}><h6 class="my-0">{{order.cart.product.name}}</h6></a>
        <small class="text-muted"></small>
      </div>
      <span class="text-muted">{{order.cart.product.price}} INR</span>
    </li>
    {% endfor %}
  </ul>
  <a class="nav-link" href="{% url 'payment'%}"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Payment</button></a>
</div>

{% endblock content %}
