{% extends 'ecom/base.html' %}
{% block title %}Orders{% endblock %}
{% block content %}

<br>
<div class="container">
<h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-primary">Your Orders</span>
    <span class="badge bg-primary rounded-pill">{{length}}</span>
 </h4>
  <ul class="list-group mb-3">
    {% for order in orders %}
    <li class="list-group-item d-flex justify-content-between lh-sm">
      <div>
        <a href={% url 'invoice' pk=order.pk %}><h6 class="my-0">{{order.name}}</h6></a>
        <small class="text-muted"></small>
      </div>
      {% if order.payment_status %}
      <span style="color:green;" >{{order.totalprice}} INR</span>
      {% else %}
      <span style="color:red;">{{order.totalprice}} INR</span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock content %}
