{% extends 'ecom/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

<br>
<div class="container" style="padding:20px;">
    <div class="card">
        {% if customer.photo %}
        <center>
        <img id="profilepic" src="{{customer.photo.url}}" class="img-fluid profile-image" width="70">
        {% endif %}
            <div class="container" style="padding:50px;">
                <h5 class="" >username : <strong> {{customer.name}}</strong></h5>
                {% if customer.actname %}
                <h5 class=" " >name : {{customer.actname}}</h5>
                {% endif %}
                {% if customer.email %}
                <p class=" ">email : {{ customer.email  }}</p>
                {% endif %}
                {% if customer.phone %}
                <p class="">phone : {{ customer.phone  }}</p>
                {% endif %}
                {% if customer.country %}
                <p class="">Country : {{ customer.country  }}</p>
                {% endif %}
                {% if customer.state %}
                <p class="">State: {{ customer.state  }}</p>
                {% endif %}
                {% if customer.district %}
                <p class=" ">District : {{ customer.district  }}</p>
                {% endif %}
                {% if customer.address %}
                <p class="">Address: {{ customer.address  }}</p>
                {% endif %}
                {% if customer.postalcode %}
                <p class="">postalcode: {{ customer.postalcode  }}</p>
                {% endif %}
            </center>
            </div>

        </div>
        <div class="middle-container d-flex justify-content-between align-items-center mt-3 p-2">
            <div class="dollar-div px-3">
                <div class="round-div"><i class="fa fa-dollar dollar"></i></div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

