{% extends 'ecom/base.html' %}


{% block content %}

<br>
<div class="container" style="padding:20px;">
    <div class="card">
        {% if customer.photo %}
        <img id="profilepic" src="{{customer.photo.url}}" class="img-fluid profile-image" width="70">
        {% endif %}
            <div class="container" style="padding:50px;">
                <br>
                <h5 class="name textp" >{{customer.name}}</h5>
                {% if customer.email %}
                <p class="mail textp">email : {{ customer.email  }}</p>
                {% endif %}
                {% if customer.phone %}
                <p class="phone textp">phone : {{ customer.phone  }}</p>
                {% endif %}
            </div>

        </div>
        <div class="middle-container d-flex justify-content-between align-items-center mt-3 p-2">
            <div class="dollar-div px-3">
                <div class="round-div"><i class="fa fa-dollar dollar"></i></div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

